.cart-item {
    display: flex;
    padding: 20px;
    background-color: white;
    margin-bottom: 10px;
  }
  
  .cart-item-image {
    max-width: 150px;
    object-fit: contain;
    margin-right: 20px;
  }
  
  .cart-item-details {
    display: flex;
    flex-direction: column;
  }
  
  .cart-item-details h2 {
    font-size: 18px;
  }
  
  .cart-item-details p {
    margin: 5px 0;
  }
  
  .cart-item-details button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #f0c14b;
    border: 1px solid #a88734;
    cursor: pointer;
  }
  
  .cart-item-details button:hover {
    background-color: #e7b437;
  }
  